*{
    box-sizing: inherit;
}
html{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.rounded image{
   width: 40px;
   height: 40px;
}
.ava{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-bottom: 7px;
    margin-left: 20px;

}
.nav-itemss button{
    position: absolute
    
}
.title h1{
    text-align: left;
}
.box{
    margin-top: 25px;
    background-color: aliceblue;
    width: 600px;
    height: 50px;
    border-radius: 5px;
}
.seach input{
    text-align: left;
    width: 550px;
    height: 50px;
    border: none;
    outline: none;
}
.seach a{
    border: none;
    width: 50px;
}
.seach i{
    color: black;
}
.nav-menu{
    list-style: none;
    text-align: center;
}
.nav-menu-item{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.nav-menu-item:hover{
    border-bottom: 2px solid #0064f9;
}
.menu-toll{
    display: flex;
    justify-content: space-between;
}
.row{
    padding-left: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .row .column{
    flex: 33.3%;
    width: auto;
    overflow: hidden;
    padding: 0 4px;
    height: 100%;
  }
  .row .column img{
    margin-top: 2%;
    width: 100%;
    height: 100%
  }
.blog a img{
    border-radius: 50%;
    padding: 10px;
}
.blog{
    display: flex;
}
.blog h2{
    padding: 10px;
}
.nav-itemcs{
    padding-top: 5px;
}
.nav{
    display: inline-flex;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    background-color: white;
    padding: 0 20px; 
 
    }
   .nav-item{
    color: #83818c;
    padding: 20px;
    text-decoration: none;
    transition: 0.3s;
    margin: 0 7px;
    z-index: 1;
    position: relative;
    }
    .nav-item:before{
        content: '';
        position: absolute;
        bottom: -7px;
        left: 0px;
        width: 100%;
        height: 5px;
        background-color: #dfe2ea;
        border-radius: 8px 8px 0 0;
        opacity: 0;
        transition: 0.3s;
    }
   .nav-item:not(.is_active):hover:before{
        opacity: 1;
        bottom:0;
    }
   .nav-item:not(.is-active):hover{
        color: #333;
    }
   .nav-indicator{
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        transition: 0.4s;
        height: 5px;
        z-index: 1;
        border-radius: 8px 8px 0 0;
    }
    .collection-item img{
        height: 70px;
        width: 123.7px;
        object-fit: cover;
        border-radius: 10px;
    }
    .collections-items img{
        height: 242px;
        width: 380px;
        object-fit:fill;
        padding-bottom: 3px;
        border-radius: 10px;
    }
    .collection{
        width: 380px;
        border-radius: 10px;
    }
    .collection:hover{
        box-shadow: 0 10px 40px rgba(119, 138, 141, 0.8);
    }
    .contai-colle{
        display: grid;
        grid-template-columns: auto auto auto ;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
.conten{
    display: flex;
    padding: 4px;
    justify-content:space-between;
    
}
.conten h5 a{
    text-decoration: none;
    color:black;
}
.conten a i{
    color:#333;
    margin-right: 20px;
}